<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="TerrainEdit.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><userSettings>
        <TerrainEdit.Settings>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AtlasFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AtlasFormSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AtlasX" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="AtlasY" serializeAs="String">
                <value>512</value>
            </setting>
            <setting name="TerrainFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </TerrainEdit.Settings>
    </userSettings>
</configuration>
