<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ParticleEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ParticleEdit.Properties.Settings>
            <setting name="MainWindowPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="ParticleFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="TexFormPos" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </ParticleEdit.Properties.Settings>
    </userSettings>
</configuration>